
<style> .custom1-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none; 
}
.custom1-button:hover {
    background-color: #007bff;
}</style>
<div class="card">
    <div class="imgBx">
        <img src="https://th.bing.com/th/id/OIP.lE2v5J5of1JZWxuVgsNL-AHaHa?rs=1&pid=ImgDetMain" height="300px" width="270px">
    </div>
    
    <div class="content">
        <h2>clear water bottle</h2>
        <p>2 litre water bottle for every day use,light and convinient to use,sturdy and eco friendly bottle
   
            About this item

            Package Content- 1 Water Bottle, Material : Stainless Steel:Steel Cap, Capacity : 1000 Ml

Why This -: These 1 litre bottle can be best water bottles that can be gifted as travel water bottle or drinking water bottle or school bottle or car water bottles or office, school, home, or gym.

Stainless Steel bottle - This is not a Copper water bottle, thermos flask or thermosteel bottle . This is sipper bottle for adults. Water Bottles 1 litre is easy to carry.

Water Bottle For Kids - Water bottles for school are steel bottle 1 litre.These can be Kids water bottle for school. These can be fancy water bottles for boys or cute water bottles for Girls.

Water bottles for office - This 1 litre water bottle is a stylish water bottle. Water bottle for office use men can easily carry. This is a office water bottle for men and women.
        </p>
        <p><div class="price-tag">
            ₹200
        </p>
    
    </div>
    <button class="custom1-button"><a href="{{ url_for('payment')}}" style="text-decoration: none; color: white;">Buy now</a></button>
</div>