<style> .custom1-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none; 
}
.custom1-button:hover {
    background-color: #007bff;
}</style>
<div class="card">
    <div class="imgBx">
        <img src="https://th.bing.com/th/id/OIF.lsZ8DmhwoBYRwpYPgU0UxA?rs=1&pid=ImgDetMain" height="300px" width="270px">
        
    </div>
    
    <div class="content">
        <h2>Electric Toothbrush</h2>
        <p>light weight,unique,less noise,1 year warranty,unisex,comes with stand

            About this item
 
            40000 VPM SMART TOOTHBRUSH: An advanced oral care device that utilizes a powerful sonic motor to generate up to 40,000 micro-brushes per minute. This high-speed vibration effectively removes stubborn food particles, bacteria, and stains, leaving your teeth and gums clean and healthy. The toothbrush is designed to provide efficient and thorough cleaning, ensuring that every nook and corner of your mouth is reached.
 
            4 HOUR CHARGE LASTS 20 DAYS: A powerful rechargeable battery that provides up to 20 days of continuous use with just a single 4-hour charge. The versatility of this toothbrush is evident in its ability to be charged using any USB power source. It is also designed with convenient features like auto shut-off technology and a low battery reminder to ensure that it is always ready for use. With these features, this toothbrush is a reliable and convenient tool for your oral hygiene routine.

            SMART AUTO TIMER: Electric SPARK toothbrush boasts a Smart Auto Timer equipped with Quad Auto Interval technology, designed to turn off the device automatically after two minutes of use. Additionally, the toothbrush pauses every 30 seconds, reminding users to switch sides, ensuring an effective and thorough cleaning experience. This feature ensures that users maintain a consistent brushing time, enhance their oral health.

            INTUITIVE BRISTLE DESIGN: Its Dupont bristles come with a clever tooth-waved design that fits snugly with the contours of your teeth, providing a seamless and comfortable cleaning experience. The toothbrush also comes with two types of bristle heads, allowing you to choose the pressure that suits you best. This feature ensures that you can brush your teeth effectively without causing any damage to your gums or teeth.
        </p>

        <p><div class="price-tag">
            ₹1,500
        </p>
        <button class="custom1-button"><a href="{{ url_for('payment')}}" style="text-decoration: none; color: white;">Buy now</a></button>
        
    
    </div>