<style> .custom1-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none; 
}
.custom1-button:hover {
    background-color: #007bff;
}</style>
<div class="card">
    <div class="imgBx">
        <img src="https://m.media-amazon.com/images/I/51fQqVo+vjL._SX679_.jpg" height="300px" width="270px">
    </div>
    
    <div class="content">
        <h2> Vega hair dryer</h2>
        <p>Vega Hair Dryer for Women With Cool Shot Button & 3 Heat Settings, 2100W Blow Dryer, (VHDH-25
            
            About this item

            The Vega Hair Dryer for Women offers versatile styling options with its 2 heat and 2-speed settings. This feature allows you to customize the temperature and airflow according to your specific needs and preferences. Whether you desire a gentle breeze or a powerful blast, our Hair Dryer for Women provides the flexibility to create your desired look. With these adjustable settings, you can achieve the perfect balance of heat and speed to ensure efficient and comfortable drying, while also preventing potential heat damage. Embrace the freedom to style your hair with confidence using our Hair Dryer for Women, designed to cater to your individual styling needs.

Experience enhanced styling with the Vega Hair Dryer's Cool Shot Button. This unique feature sets your hairstyle in place, delivering long-lasting hold for a flawless look all day. With a simple press, enjoy a refreshing burst of cool air on your hair and scalp, adding a professional touch to your styling routine. Elevate your hairstyling with the Vega Hair Dryer and unlock salon-quality results with the Cool Shot Button.

Enhance your hairstyling versatility with our Professional Hair Dryer's 2 detachable nozzles. These versatile attachments provide precise airflow control, allowing you to effortlessly achieve your desired hairstyle. Whether you seek sleek and straight locks or want to add volume and texture, these detachable nozzles are essential tools in your styling routine. With the ability to customize the airflow, our Professional Hair Dryer helps you achieve salon-quality results from the comfort of your home. Elevate your hairstyling capabilities with the Vega Pro Touch Professional Hair Dryer and its two detachable nozzles.

The Vega Pro Touch Professional Hair Dryer comes with a 1 year manufacturer warranty.</p>
  
<p><div class="price-tag">
    ₹1,000
</p>
    
    </div>
    <button class="custom1-button"><a href="{{ url_for('payment')}}" style="text-decoration: none; color: white;">Buy now</a></button>
</div>