<style> .custom1-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none; 
}

.custom1-button:hover {
    background-color: #007bff;
}</style>
<div class="card">
    <div class="imgBx">
        <img src="https://m.media-amazon.com/images/I/41CnCbbxrZL._SX300_SY300_QL70_FMwebp_.jpg" height="600px" width="600px">
        <style>
            .container{justify-content: space-between;}
        </style>
    </div>
    
    <div class="content">
        <h2>Lenovo IdeaPad Gaming 3</h2>
        <p>Lenovo IdeaPad Gaming 3 Intel Core i5 12450H 15.6" (39.62cm) FHD IPS 120Hz Gaming Laptop (16GB/512GB SSD/Win11/Office 2021/NVIDIA RTX 3050 4GB/Alexa/3 Month Game Pass/Onyx Grey/2.3Kg), 82S9017TIN
            
            About this item

Processor: 11th Gen Intel Core i5-11300H | Speed: 3.1 GHz (Base) - 4.4 GHz (Max) | 4 Cores | 8 Threads | 8MB Cache

Display: 15.6" FHD (1920x1080) | IPS Technology | 120 Hz Refresh Rate | 250Nits Brightness | Anti-glare | 45pct. NTSC || Memory: 8GB RAM DDR4-3200 | Upgradable Up to 16GB || Storage: 512GB SSD

Graphics: NVIDIA GeForce GTX 1650 4GB GDDR6 Dedicated Graphics || Cooling: 100pct.imporved ventilation rate | 21pct. larger thermal Area | 35pct. higher TDP

Mil. Grade : MIL-STD-810G Qualified Design| Qualified for various Mil. Specification Tests like Low & High Temp (-25 to 63°C for 4 hrs) | Temp Shock (-25 to 63°C one way temp Shock)| Shock (122cm+ Drop Test) | Vibration (4-32Hz over 2 hrs)

OS and Pre-Installed Software: Pre-Loaded Windows 11 Home with Lifetime Validity | Office Trial | Xbox GamePass Ultimate 3-month subscription

Audio: 2x 2W HD Stereo Speakers | Nahimic Audio with Surround Sound, Sound Tracker, Night Mode, Sound Sharing & Content Profiles || Camera: HD 720p with E-camera Shutter | Physical kill switch for 100pct. privacy protection | Integrated Dual Array Mic

Keyboard: Full-size white Backlit legendary TrueStrike Keyboard with 100pct. Anti-Ghosting, Anti-Abrasion & Soft-Landing switches | 1.5 mm Key Travel | Large Arrow Keys| 1 piece TrackPad

Battery Life: 45Wh upto 6 Hours | Rapid Charge (up to 50pct. in 30 min) || Connectivity : Wifi 6 11ax (2x2) | Bluetooth 5.0 || Ports: 2x USB-A 3.2 Gen 1 | 1x USB-C 3.2 Gen 1 (Data transfer) | 1x 3.5mm Jack | 1X HDMI 2.0 | 1X Ethernet (RJ-45)
        </p>
        <p><div class="price-tag">
            ₹80,000
        </p>
    </div>
    <button class="custom1-button"><a href="{{ url_for('payment')}}" style="text-decoration: none; color: white;">Buy now</a></button>
</div>
