<div class="card">
    <div class="imgBx">
        <img src="https://m.media-amazon.com/images/I/712+H1IHbML._SL1500_.jpg" height="600px" width="600px">
    </div>
    <div class="content">
        <h1>Fastrack FS1 Pro Smartwatch</h1>
        <p>Fastrack FS1 Pro Smartwatch with AOD|World’s First 1.96" Super AMOLED Arched Display with Highest Resolution of 410x502|SingleSync BT Calling|NitroFast Charging|110+ Sports Modes|200+ Watchfaces
            About this item
1.81 inches(4.59cms) TFT display, 240*280px, Always on display - No, 550 nits brightness - Enjoy clear and vibrant visuals on its big and bright TFT display.

Up to 7-day battery life - Get up to 7 days of battery life & up to 2 days of power with calling activated. (Battery life can vary due to multiple factors such as turning on continuous HR tracking or turning up the brightness)

Charging -  The smartwatch features a 260mAh battery that takes approx. 2.5 hours to fully charge. It is recommended that you use a 5W power adapter. Please avoid using a fast-charging adapter to prevent future watch damage.

Music playback - The smartwatch features a remote music control feature that lets you control music played on your phone as long as your smartphone and smartwatch are in Bluetooth range. However, it cannot be used to store music.

Volume control - You can control the volume both during music playback and while attending calls. The watch can also play music out loud due to the presence of an in-built mic and speaker.

NoiseFit app - Pair the smartwatch to the app to track your progress overtime, get health updates, compete with friends and share your achievements.

Bluetooth calling - Experience an advanced calling experience with the addition of Bluetooth calling.

</p>

<p><div class="price-tag">
    ₹2,499
</p>


        <button><a href="{{ url_for('payment')}}">buy now!</button>
    
    </div>
</div>       