
<style> .custom1-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none; 
}
.custom1-button:hover {
    background-color: #007bff;
}</style>
<div class="card">
    <div class="imgBx">
        <img src="https://i.etsystatic.com/27136606/r/il/63e952/3016271002/il_1588xN.3016271002_fpd4.jpg" height="300px" width="270px">

    </div>
    
    <div class="content">
        <h2>Deadpool Sneakers</h2>
        <p>light weight,unique,fits Perfect for both men and women,all sizes available

            About this item
 
            TRUE STREET STYLE CHUNKY DESIGN: This platform Street Style sneaker is a punch of tough and stylish in one shoe, bound to please both your fashion and sporty sides, a deeply unique touch to all your outfits.
 
 FUNCTIONAL HI-TOP SNEAKERS: We love sneakers all day long. Breathable upper and a plush padded footbed, perfect for a quick walk around town. Style these with your favorite shorts, denim or athletic wear.

 ANTI-COLLISION TOE & SHOCKING: The outer toe part and sole of shoes are made of durable PU leather. It's wear-resistant and fold resistant, which can resist hard objects as well as get the rebounnding and cushioning effect when you walking.Ortholite footbed to improve a comfortable pedaling feeling and relieve foot fatigue.

 NON SLIP & BREATHABILITY: The mesh lining and Textile footbed make the Breathable as well as provide you a cool and comfy wear environment. The anti-slip and chunky rubber outsole design provides excellent anti-slip making shoe more comfortable and stable.

 GOES WITH ALL DRESSES: These fashion sneakers are easy to match any of your outfits, great for work, party,school or walking, suitable for wearing all year around.

</p>
<p><div class="price-tag">
    ₹3,500
</p>
    
    </div>
    <button class="custom1-button"><a href="{{ url_for('payment')}}" style="text-decoration: none; color: white;">Buy now</a></button>
</div>